# Apache Configuration 
RewriteEngine On 

# Se estiver em uma subpasta, descomente e ajuste:
# RewriteBase "/sua-subpasta/"

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]