# Apache Configuration
RewriteEngine On

# RewriteBase é detectado automaticamente pelo Router!
# Não precisa configurar manualmente.

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]